*{
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}
.menu{
    display: flex;
    justify-content:center;
}
.menu img{
    text-align: center;
    width: 244px;
    height: 70px;
    margin: 10px ;
}
.menu-con{
    position: absolute;
    bottom: -200;
    width: 216px;
    left: 0;
    z-index: 20;
    background: #f4f4f4;
    border: 1px solid #dadada;

}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.menu a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}
.menu a:hover{
    color: #0B249E;

}
.menu-cha:hover .menu-con{
    display: block;
    color: #0B249E;
}
ul li{
    list-style-type: none;
    padding: 10px 20px;
    
}
.menu-cha{
    position: relative;
}
.menu-con{
    display: none;
}


.text-conten{
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 10px;
}
.text-conten h1{
    color: #3e3d3d;
    padding: 10px; 
}
.conten-box{
    display: flex;
    justify-content: center;
    text-align: center;

}
.conten-box img{
    width: 305px;
    height: 229px;
}

.box1,.box2, .box3{
    border: 1px solid #e1e0e0 ;
    padding: 19px 19px 39px 19px;
    margin: 15px 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}
.conten-box p{
    text-align: justify;
    width: 305px;
    font-weight: 500;
    line-height: 22.5px;
}
.nav-bar img {
    width: 555px;
    height: 616px;
   
}
.nav-right{
    padding: 10px;
    margin-left: 70px; 
    margin-right: 148px;
    margin-top: 100px;
    transform: translateX(-50px);
}
.nav-left{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 48px 138px;
    transform: translateX(70px);

}
.nav-bar{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background-image: linear-gradient(180deg, #000D75 0%, #65379A 100%);
    height: 943px;

}

.nav-left h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 27px;
    width: 500px;
    color: white;
    transform: translateX(-17px);
}
.nav-left input, select{
    width: 460px;
    height: 41px;
    color: #333333;
    border: 1px solid #777771;
    border-radius: 2px;
    margin-bottom: 15px;
    font-weight: 500;
    padding-left: 7px;
}
textarea{
    width: 460px;
    padding-top: 10px;
}

#note{
    border: 2px solid #f5ec10;
    color: #f5ec10;
    padding: 1px 0px;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
    width: 460px;
    height: 39px;

}
.nav-left button{
    border-radius: 5px;
    background-color: #edb017;
    font-weight: 700;
    color: #0a0a0a;
    padding: 10px;
    margin-top: 25px;
    width: 465px;
    height: 43px;

}
#nut:hover{
    background: #6EC1E4;
    color: white;
}
.commen{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 320px;
    margin: 96px 160px 0 160px;
}
.commen-left{
    border-right: 2px solid rgb(255, 123, 6);
    height: 216px;
    padding-right: 10px;
}
.commen-left h1{
    color: #0b249e;
    font-weight: 700;
    line-height: 54px;
    font-size: 30px;
    

}
.commen-left h3{
    color: #433f3f;
    line-height: 36px;
    font-size: 20px;
    width: 352px;
    margin-right: 10px;
}
.commen-right h3{
    color: #433f3f;
    padding-left: 30px;
    line-height: 31.5px;
    font-size: 21px;
    width: 675px;
}
#scle{
    padding: 14px 22px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: #0C9841;
    border: none;
    margin-top: 20px;
    
}
#scle:hover{
    background:#da6a07 ;
    transition: 0.2s linear;
    font-size: 15px
}
.text{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    color: white;           
    padding-left: 24px;
    transform: translateY(20px);
 
}
video{
    width: 560px;
    height: 460px;
    padding-left: 20px;
    margin-right: 50px;
    transform: translateY(-50px);
   
}
.hi{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 27px;
    width: 100%;
    height: 600px;
    background: linear-gradient(rgb(74,27,212) , rgb(23,194,220) 100%);
    
    border: 1px solid red;
}
.text1,.text2,.text3{
    text-align: left;
    width: 450px;
    height: 95px;
    line-height: 27px;
    margin-bottom: 22px;
}
.text h3{
    font-size: 18px;
}
.text h1{
    line-height: 54px;
    font-size: 30px;
}
.icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    transform: translateY(10px);
    margin-right: 20px;
}
.selector-conten1,.selector-conten2,.selector-conten3{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.sale{
    text-align: center;
    align-items: center;
    top: 50%;
    transform: translateY(50%);
    height: 356px;
}
.sale h3{
    font-weight: 500px;
    margin-bottom: 44px;

}
.sale button{
    background: rgb(255,240,6);
    padding: 15px 44px;
    font-size: 18px;
    border: none;
    border-radius: 0;
    margin-top: 32px;
}
.sale button:hover{
    font-size: 16px;
    transition: 0.3s linear;
}.section-box img{
    width: 81px;
    height: 81px;
}
.section-box{
    margin-top: 180px;
    height: 1020px;
    background: linear-gradient(rgb(74,27,212) , rgb(23,194,220) 100%);
    padding: 90px 138px 70px 138px;
    position: relative;
    
}
.section-box h1{
    color: white;
    text-align: center;

}
.dong-ke{
    width: 200px;
    height: 3px;
    background: white;
    position: absolute;
    top: 160px;
    left: 638px;
}
.section-left,.section-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 58px;
    height: 595px;
    width: 535px;

}
.section{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    align-items: center;
}
.section-left{
    margin-right: 33px;
}
.boxer1{
    border: 1px solid white;
    border-radius: 10px;
    height: 175px;
    display: flex;
    justify-content: space-around;
    padding: 23px 13px;
}
#loi{
    padding-bottom: 100px;
}
.text-r1{
    color: white;
    text-align: left;
    padding-left: 20px;
    
}
.section img{
    width: 81px;
    height: 81px;
    transform: translateY(13px);
}

.section h3{
    line-height: 30.6px;
    font-size: 17px;
}
.section p{
    line-height: 27px;
}
.nut{
    background: green;
    border: 1px solid white;
    color: white;
    font-size: 19px;
    transform: translate(490px,70px);
    width: 221px;
    height: 62px;
}
.nut:hover{
    background: #ff7b06;
    font-size: 20px;
    transition: 0.2s;
}
.selector-conten1 i{
    color:#0b249e;
    display:inline;
    font-size:45px;
    line-height:80px;
    text-align:center;
    position: absolute;
    left: 17px;
}
.selector-conten2 i{
    color:#0b249e;
    display:inline;
    font-size:45px;
    line-height:80px;
    text-align:center;
    position: absolute;
    left: 14px;
   
}
.selector-conten3 i{
    color:#0b249e;
    display:inline;
    font-size:45px;
    line-height:80px;
    text-align:center;
    position: absolute;
    left: 16px;
   
}
.ekit-heading h2{
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
}
.ekit-heading{
    background: #e9e9e9;
    height: 484px;
    padding: 0 0 50px;
}
.ekit-boder{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 22px;
}
.boder1{
    border-radius: 80%;
    background: #ff712b ;
    height: 4px;
    width: 4px;
    margin-right: 5px;
}
.boder-con{
    width: 30px;
    height: 4px;
    background: #ff712b ;
    border-radius: 2px;
}
.ekit-box{
    display: flex;
    justify-content: space-around;
    height: 350px;
    margin-top: 10px;
    padding: 5px 74px;
   

}
.ebox{
    background: white;
    width: 300px;
}
.post-cat{
    display: flex;
    text-align: left;
    color: #0b249e;
    font-size: 13px;
    margin-left: 20px;
}
.p-bode{
    height: 14px;
    width: 1px;
    background: #0b249e;
    margin: 0 7px;
   
}
.post-cat i{
    margin-right: 10px;
}
.date{
    display: flex;
    text-align: left;
    color: #0b249e;
    font-size: 13px;
    margin-left: 20px;
    height: 27px;
}
.date i{
    margin-right: 10px;
}
.ebox img{
    width: 100%;
    height: 160px;
    margin-bottom: 5px;
}
.p{
    text-align: left;
    font-size: 15px;
    width: 265px;
    margin-left: 21px;
    line-height: 22px;
   

}
.ebox button{
    background: #2575fc;
    text-align: left;
    margin-left: 20px;
    width: 112px;
    height: 34px;
    border: none;
    color: white;
    padding-left: 15px;
    border-radius: 5px;
    font-size: 14px;
    
}
.ebox button:hover{
    background: #0b249e;
    transition: 0.3s;
}
.footer-top{
    height: 360px;
}
.footer-top h1{
    text-align: center;
    margin-top: 44px;
    font-size: 30px;
}
.anh{
    display: flex;
    height: 170px;
    flex-wrap: nowrap;
    box-sizing: border-box;
  
    margin-top: 20px;

}
.div{
    width: 242px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

#i1{
    height: 40px;
}
#i5{
    width: 99px;
    height: 21px;
}
#i6{
    width: 196px;
    height: 48px;
}
.footer-end{
    height: 491px;
    background: #2f319e;
}
.footer-conten{
    height: 381px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    
}
.footer-conten h2{
    font-size: 20px;
}
.ftext-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.right input{
    width: 340px;
    height: 40px;
    border: none;
    padding-left: 9px;

}
.right button{
    width: 340px;
    height: 40px;
    border: none;
    padding-left: 9px;
    background: #edb017;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 30px;
}
.r1{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.right button:hover{
    background: #6EC1E4;
    color: white;
}
.r1 select{
    width: 340px;
    height: 40px;
    border: none;
    padding-left: 9px;

    transform-origin: 50% 50%;
}

.number{
    width: 170px;
    height: 55px;
    background:  #02a300;
    border-radius: 25px;
    transform: translate(60px,9.25px);
    z-index: -10;
    position: relative;
}
.ani0{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: loa 0.6s  infinite linear;
    position: absolute;
    z-index: 5;
    top: 22px;
    left: 21px;
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
    
    
}
.number p{
    padding-left: 66px;
    padding-top: 14px;
    color: white;
    font-size: 15px;
}
.ani1{
    background-color: white;
    width: 9px;
    height: 9px;
    transform: rotate(5deg);
    position: absolute;
    bottom: 0px;
    left: -4px;
    z-index: 5;
}

.phone {
    background-color: white;
    font-size: 20px;
    color:  #02a300;
    position: relative;
    border-radius: 50%;
    z-index: 10;
  
}
.ani2{
    background:  #02a300;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 25px;
    position: absolute;
    top: 9.9px;
    left: 34.7px;
    z-index: 2;
    
}
.ani3{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: rgba(80, 82, 82, 0.432);
    position: absolute;
    top: 6px;
    left: 56px;
    animation: circle2 1.5s infinite linear;
}
.fixed{
    position: fixed;
    top: 500px;
    right: 135px;
    z-index: 10000;
}
.ani4{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: 1px solid rgb(56, 54, 54);
   position: absolute;
   top: -23.5px;
   left: -23.5px;
   animation: circle3 1s infinite linear;
    
}
@keyframes loa{
    0%{
        transform: rotate(0);
    }
    
    30%{
        transform: rotate(-22deg);
    }
    60%{
        transform: rotate(20deg);
    }
    80%{

        transform: rotate(-22deg);
    }
    100%{
        transform: rotate(20deg);
    }
}

@keyframes circle2 {
    0% {
       
        transform: scale(1);
    }
    25%{
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.4);
    }
    75%{
        transform: scale(1.2);
        
    }
    100% {
        transform: scale(1);
    }
}
@keyframes circle3{
    0% {
       opacity: 0.4;
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
        opacity: 0.2;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}
.messenger{
    position: fixed;
    top: 400px;
    right: 10px;
    z-index: 10000;
    width: 50px;
    height: 50px;
    background: #0075ff;
    border-radius: 50%;
   
}
.messenger img{
    width: 44px;
    height: 45px;
    padding: 8px 0 0 6px;
}

   
